body{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    font-family: serif;
}
div{
    background-color: #D3EBCD;
}
h1{
    margin-top: 0px;
    
}
.top-cloud{
    position: relative;
    top: 30%;
    left: 20%;
}
.bottom-cloud{
    position: absolute;
}
.top-container{
    width: ;
    height: ;
    border: ;
    padding: ;
}
.middle-container{
    background-color:;
    width: 200px;
    height: 200px;
    border: ;
    margin-left:;
}
.bottom-container{
    background-color: ;
    width: 200px;
    height: 200px;

}
.pro{
    text-decoration: underline;
}